<div class="row">
  <div class="col custom-border-2">
    <!-- AG Grid Angular Component -->
    <ag-grid-angular
      style="width: 100%; height: 100%"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData$ | async"
      [rowSelection]="'multiple'"
      [animateRows]="true"
      (gridReady)="onGridReady($event)"
      (cellClicked)="onCellClicked($event)"
    ></ag-grid-angular>
  </div>

  <div class="col custom-border-2">
    <h1>User Detail Component</h1>
          <table class="table table-striped">
            <thead>
              <th>First Name</th>
              <th>Last Update</th>
              <th>Email Address</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of userDetails">
                <td>
                  
                    {{ user?.firstName }}
                
                </td>
                <td>{{ user?.lastName }}</td>
                <td>{{ user?.email }}</td>
              </tr>
            </tbody>
          </table>
  </div>
</div>


