
<div class="reactive-form-container custom-border-2" >
  
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="user-details">User Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="grid-view">Grid View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="admin/login">Admin Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="admin/list">Admin User List</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
  
  <h1>Custom Pipe currencyConvertor {{20 | currencyConvertor : 75 : 'test' }}</h1>

  <h1 appTextColor [defaultTextColor]="defaultColor" [textColor]="color">Custom Directive</h1>


  <router-outlet></router-outlet>

  <div class="mt-5 p-4 bg-dark text-white text-center">
    <p>Footer</p>
  </div>
  
</div>